**/node_modules/
**/*.log
**/config.json
**/config.undercut.json
**/config.company.json
.DS_Store
**/data/uploads/
portal/data/
data/navigation.db
data/navigation.db-wal
data/navigation.db-shm
siyuan/data/
siyuan/.env
siyuan-share/data/
siyuan-share/.build/
siyuan-share/config.php
siyuan-share/.env
piclist/data/
piclist/.env
piclist/data/node_modules/
piclist/data/package.json
piclist/data/package-lock.json
alist/data/
alist/.env
